<a href="https://colab.research.google.com/github/yennua/dacon/blob/main/baseline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
train = pd.read_csv('/content/drive/My Drive/데이콘/open_data/train.csv')
test = pd.read_csv('/content/drive/My Drive/데이콘/open_data/test.csv')
submission = pd.read_csv('/content/drive/My Drive/데이콘/open_data/sample_submission.csv')

In [ ]:
test.head()

In [ ]:
train.head()

   index  Q1  Q2  Q3  ...  race_nativeau  race_other  ASD  nerdiness
0      0   4   2   4  ...              0           0    2          0
1      1   5   5   4  ...              0           0    2          1
2      2   3   3   4  ...              1           0    2          1
3      3   4   5   3  ...              0           0    2          1
4      4   3   5   4  ...              0           0    2          0

[5 rows x 81 columns]

In [ ]:
test.head()

   index  Q1  Q2  Q3  ...  race_nativeam  race_nativeau  race_other  ASD
0      0   4   5   5  ...              0              0           0    2
1      1   5   5   4  ...              0              0           0    2
2      2   4   5   4  ...              0              0           0    2
3      3   5   5   5  ...              0              0           0    2
4      4   3   4   4  ...              0              0           0    2

[5 rows x 80 columns]

In [ ]:
submission.head()

   index  nerdiness
0      0          0
1      1          0
2      2          0
3      3          0
4      4          0

In [ ]:
train['nerdiness'].value_counts()

1    20505
0    15820
Name: nerdiness, dtype: int64

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36325 entries, 0 to 36324
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          36325 non-null  int64
 1   Q1             36325 non-null  int64
 2   Q2             36325 non-null  int64
 3   Q3             36325 non-null  int64
 4   Q4             36325 non-null  int64
 5   Q5             36325 non-null  int64
 6   Q6             36325 non-null  int64
 7   Q7             36325 non-null  int64
 8   Q8             36325 non-null  int64
 9   Q9             36325 non-null  int64
 10  Q10            36325 non-null  int64
 11  Q11            36325 non-null  int64
 12  Q12            36325 non-null  int64
 13  Q13            36325 non-null  int64
 14  Q14            36325 non-null  int64
 15  Q15            36325 non-null  int64
 16  Q16            36325 non-null  int64
 17  Q17            36325 non-null  int64
 18  Q18            36325 non-null  int64
 19  Q19            36325 non-null  int64
 20  Q20            36325 non-null  int64
 21  Q21            36325 non-null  int64
 22  Q22            36325 non-null  int64
 23  Q23            36325 non-null  int64
 24  Q24            36325 non-null  int64
 25  Q25            36325 non-null  int64
 26  Q26            36325 non-null  int64
 27  country        36322 non-null  object
 28  introelapse    36325 non-null  int64
 29  testelapse     36325 non-null  int64
 30  surveyelapse   36325 non-null  int64
 31  TIPI1          36325 non-null  int64
 32  TIPI2          36325 non-null  int64
 33  TIPI3          36325 non-null  int64
 34  TIPI4          36325 non-null  int64
 35  TIPI5          36325 non-null  int64
 36  TIPI6          36325 non-null  int64
 37  TIPI7          36325 non-null  int64
 38  TIPI8          36325 non-null  int64
 39  TIPI9          36325 non-null  int64
 40  TIPI10         36325 non-null  int64
 41  VCL1           36325 non-null  int64
 42  VCL2           36325 non-null  int64
 43  VCL3           36325 non-null  int64
 44  VCL4           36325 non-null  int64
 45  VCL5           36325 non-null  int64
 46  VCL6           36325 non-null  int64
 47  VCL7           36325 non-null  int64
 48  VCL8           36325 non-null  int64
 49  VCL9           36325 non-null  int64
 50  VCL10          36325 non-null  int64
 51  VCL11          36325 non-null  int64
 52  VCL12          36325 non-null  int64
 53  VCL13          36325 non-null  int64
 54  VCL14          36325 non-null  int64
 55  VCL15          36325 non-null  int64
 56  VCL16          36325 non-null  int64
 57  education      36325 non-null  int64
 58  urban          36325 non-null  int64
 59  gender         36325 non-null  int64
 60  engnat         36325 non-null  int64
 61  age            36325 non-null  int64
 62  screenw        36325 non-null  int64
 63  screenh        36325 non-null  int64
 64  hand           36325 non-null  int64
 65  religion       36325 non-null  int64
 66  orientation    36325 non-null  int64
 67  voted          36325 non-null  int64
 68  married        36325 non-null  int64
 69  familysize     36325 non-null  int64
 70  major          20505 non-null  object
 71  race_arab      36325 non-null  int64
 72  race_asian     36325 non-null  int64
 73  race_black     36325 non-null  int64
 74  race_white     36325 non-null  int64
 75  race_hispanic  36325 non-null  int64
 76  race_nativeam  36325 non-null  int64
 77  race_nativeau  36325 non-null  int64
 78  race_other     36325 non-null  int64
 79  ASD            36325 non-null  int64
 80  nerdiness      36325 non-null  int64
dtypes: int64(79), object(2)
memory usage: 22.4+ MB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14127 entries, 0 to 14126
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          14127 non-null  int64
 1   Q1             14127 non-null  int64
 2   Q2             14127 non-null  int64
 3   Q3             14127 non-null  int64
 4   Q4             14127 non-null  int64
 5   Q5             14127 non-null  int64
 6   Q6             14127 non-null  int64
 7   Q7             14127 non-null  int64
 8   Q8             14127 non-null  int64
 9   Q9             14127 non-null  int64
 10  Q10            14127 non-null  int64
 11  Q11            14127 non-null  int64
 12  Q12            14127 non-null  int64
 13  Q13            14127 non-null  int64
 14  Q14            14127 non-null  int64
 15  Q15            14127 non-null  int64
 16  Q16            14127 non-null  int64
 17  Q17            14127 non-null  int64
 18  Q18            14127 non-null  int64
 19  Q19            14127 non-null  int64
 20  Q20            14127 non-null  int64
 21  Q21            14127 non-null  int64
 22  Q22            14127 non-null  int64
 23  Q23            14127 non-null  int64
 24  Q24            14127 non-null  int64
 25  Q25            14127 non-null  int64
 26  Q26            14127 non-null  int64
 27  country        14124 non-null  object
 28  introelapse    14127 non-null  int64
 29  testelapse     14127 non-null  int64
 30  surveyelapse   14127 non-null  int64
 31  TIPI1          14127 non-null  int64
 32  TIPI2          14127 non-null  int64
 33  TIPI3          14127 non-null  int64
 34  TIPI4          14127 non-null  int64
 35  TIPI5          14127 non-null  int64
 36  TIPI6          14127 non-null  int64
 37  TIPI7          14127 non-null  int64
 38  TIPI8          14127 non-null  int64
 39  TIPI9          14127 non-null  int64
 40  TIPI10         14127 non-null  int64
 41  VCL1           14127 non-null  int64
 42  VCL2           14127 non-null  int64
 43  VCL3           14127 non-null  int64
 44  VCL4           14127 non-null  int64
 45  VCL5           14127 non-null  int64
 46  VCL6           14127 non-null  int64
 47  VCL7           14127 non-null  int64
 48  VCL8           14127 non-null  int64
 49  VCL9           14127 non-null  int64
 50  VCL10          14127 non-null  int64
 51  VCL11          14127 non-null  int64
 52  VCL12          14127 non-null  int64
 53  VCL13          14127 non-null  int64
 54  VCL14          14127 non-null  int64
 55  VCL15          14127 non-null  int64
 56  VCL16          14127 non-null  int64
 57  education      14127 non-null  int64
 58  urban          14127 non-null  int64
 59  gender         14127 non-null  int64
 60  engnat         14127 non-null  int64
 61  age            14127 non-null  int64
 62  screenw        14127 non-null  int64
 63  screenh        14127 non-null  int64
 64  hand           14127 non-null  int64
 65  religion       14127 non-null  int64
 66  orientation    14127 non-null  int64
 67  voted          14127 non-null  int64
 68  married        14127 non-null  int64
 69  familysize     14127 non-null  int64
 70  major          7853 non-null   object
 71  race_arab      14127 non-null  int64
 72  race_asian     14127 non-null  int64
 73  race_black     14127 non-null  int64
 74  race_white     14127 non-null  int64
 75  race_hispanic  14127 non-null  int64
 76  race_nativeam  14127 non-null  int64
 77  race_nativeau  14127 non-null  int64
 78  race_other     14127 non-null  int64
 79  ASD            14127 non-null  int64
dtypes: int64(78), object(2)
memory usage: 8.6+ MB

In [ ]:
train.isna().sum()[train.isna().sum() != 0]

country        3
major      15820
dtype: int64

In [ ]:
test.isna().sum()[test.isna().sum() != 0]

country       3
major      6274
dtype: int64

In [ ]:
train['country'].unique()

array(['US', 'IT', 'GB', 'CA', 'AU', 'BR', 'SE', 'NL', 'DE', 'FI', 'JP',
       'PH', 'NONE', 'BE', 'AR', 'PL', 'IL', 'MX', 'ID', 'BN', 'AT', 'FR',
       'GE', 'HU', 'PK', 'MY', 'AL', 'RU', 'CZ', 'SG', 'DK', 'HR', 'TR',
       'PE', 'NZ', 'RO', 'UA', 'JE', 'LV', 'EG', 'NO', 'GR', 'SK', 'TT',
       'IE', 'BG', 'VU', 'CH', 'AE', 'MZ', 'NP', 'PT', 'IN', 'KR', 'MA',
       'CO', 'NG', 'TH', 'ZA', 'ES', 'VE', 'HK', 'CR', 'EE', 'UY', 'GU',
       'TW', 'VN', 'BA', 'CL', 'SI', 'SA', 'LT', 'TN', 'DO', 'GT', 'RS',
       'IR', 'QA', 'MK', 'AZ', 'VI', 'MP', 'FO', 'LB', 'SV', 'KE', 'OM',
       'BY', 'KW', 'RE', 'UG', 'BD', 'HT', 'GH', 'JO', 'BB', 'IM', 'PR',
       'IS', 'EC', 'MU', 'PG', 'HN', 'LC', 'LU', 'SS', 'BO', 'BS', 'BH',
       'PY', 'MG', 'KZ', 'CN', 'MT', 'LA', 'LK', 'GY', 'ZW', 'PA', 'MC',
       'BF', 'IQ', 'CY', 'FJ', 'SD', 'ET', 'SL', 'AF', 'BW', 'ME', 'FM',
       'JM', 'BZ', 'AM', 'SZ', 'VG', 'DZ', 'ZM', 'NI', 'GF', nan, 'SY',
       'CW', 'GL', 'KY', 'PS', 'AO', 'TZ', 'MD', 'RW', 'KH', 'LY', 'GD',
       'AX', 'MV', 'MO', 'MN', 'MW', 'AG'], dtype=object)

In [ ]:
train['major'].unique()

array([nan, 'Law', 'Computer science; religion ', ...,
       'Western Literature', 'Sport Management', 'Sports medicine'],
      dtype=object)

In [ ]:
country_map = {}

for i, c in enumerate(train['country'].unique()):
    country_map[c] = i

In [ ]:
major_map = {}

for i, c in enumerate(train['major'].unique()):
    major_map[c] = i

In [ ]:
train['country'] = train['country'].map(country_map)
test['country'] = test['country'].map(country_map)

In [ ]:
train['major'] = train['major'].map(major_map)
test['major'] = test['major'].map(major_map)

In [ ]:
train.isna().sum()[train.isna().sum() != 0]

Series([], dtype: int64)

In [ ]:
test.isna().sum()[test.isna().sum() != 0]

major    412
dtype: int64

In [ ]:
test = test.fillna(0)

In [ ]:
test.isna().sum()[test.isna().sum() != 0]

Series([], dtype: int64)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36325 entries, 0 to 36324
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          36325 non-null  int64
 1   Q1             36325 non-null  int64
 2   Q2             36325 non-null  int64
 3   Q3             36325 non-null  int64
 4   Q4             36325 non-null  int64
 5   Q5             36325 non-null  int64
 6   Q6             36325 non-null  int64
 7   Q7             36325 non-null  int64
 8   Q8             36325 non-null  int64
 9   Q9             36325 non-null  int64
 10  Q10            36325 non-null  int64
 11  Q11            36325 non-null  int64
 12  Q12            36325 non-null  int64
 13  Q13            36325 non-null  int64
 14  Q14            36325 non-null  int64
 15  Q15            36325 non-null  int64
 16  Q16            36325 non-null  int64
 17  Q17            36325 non-null  int64
 18  Q18            36325 non-null  int64
 19  Q19            36325 non-null  int64
 20  Q20            36325 non-null  int64
 21  Q21            36325 non-null  int64
 22  Q22            36325 non-null  int64
 23  Q23            36325 non-null  int64
 24  Q24            36325 non-null  int64
 25  Q25            36325 non-null  int64
 26  Q26            36325 non-null  int64
 27  country        36325 non-null  int64
 28  introelapse    36325 non-null  int64
 29  testelapse     36325 non-null  int64
 30  surveyelapse   36325 non-null  int64
 31  TIPI1          36325 non-null  int64
 32  TIPI2          36325 non-null  int64
 33  TIPI3          36325 non-null  int64
 34  TIPI4          36325 non-null  int64
 35  TIPI5          36325 non-null  int64
 36  TIPI6          36325 non-null  int64
 37  TIPI7          36325 non-null  int64
 38  TIPI8          36325 non-null  int64
 39  TIPI9          36325 non-null  int64
 40  TIPI10         36325 non-null  int64
 41  VCL1           36325 non-null  int64
 42  VCL2           36325 non-null  int64
 43  VCL3           36325 non-null  int64
 44  VCL4           36325 non-null  int64
 45  VCL5           36325 non-null  int64
 46  VCL6           36325 non-null  int64
 47  VCL7           36325 non-null  int64
 48  VCL8           36325 non-null  int64
 49  VCL9           36325 non-null  int64
 50  VCL10          36325 non-null  int64
 51  VCL11          36325 non-null  int64
 52  VCL12          36325 non-null  int64
 53  VCL13          36325 non-null  int64
 54  VCL14          36325 non-null  int64
 55  VCL15          36325 non-null  int64
 56  VCL16          36325 non-null  int64
 57  education      36325 non-null  int64
 58  urban          36325 non-null  int64
 59  gender         36325 non-null  int64
 60  engnat         36325 non-null  int64
 61  age            36325 non-null  int64
 62  screenw        36325 non-null  int64
 63  screenh        36325 non-null  int64
 64  hand           36325 non-null  int64
 65  religion       36325 non-null  int64
 66  orientation    36325 non-null  int64
 67  voted          36325 non-null  int64
 68  married        36325 non-null  int64
 69  familysize     36325 non-null  int64
 70  major          36325 non-null  int64
 71  race_arab      36325 non-null  int64
 72  race_asian     36325 non-null  int64
 73  race_black     36325 non-null  int64
 74  race_white     36325 non-null  int64
 75  race_hispanic  36325 non-null  int64
 76  race_nativeam  36325 non-null  int64
 77  race_nativeau  36325 non-null  int64
 78  race_other     36325 non-null  int64
 79  ASD            36325 non-null  int64
 80  nerdiness      36325 non-null  int64
dtypes: int64(81)
memory usage: 22.4 MB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14127 entries, 0 to 14126
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          14127 non-null  int64
 1   Q1             14127 non-null  int64
 2   Q2             14127 non-null  int64
 3   Q3             14127 non-null  int64
 4   Q4             14127 non-null  int64
 5   Q5             14127 non-null  int64
 6   Q6             14127 non-null  int64
 7   Q7             14127 non-null  int64
 8   Q8             14127 non-null  int64
 9   Q9             14127 non-null  int64
 10  Q10            14127 non-null  int64
 11  Q11            14127 non-null  int64
 12  Q12            14127 non-null  int64
 13  Q13            14127 non-null  int64
 14  Q14            14127 non-null  int64
 15  Q15            14127 non-null  int64
 16  Q16            14127 non-null  int64
 17  Q17            14127 non-null  int64
 18  Q18            14127 non-null  int64
 19  Q19            14127 non-null  int64
 20  Q20            14127 non-null  int64
 21  Q21            14127 non-null  int64
 22  Q22            14127 non-null  int64
 23  Q23            14127 non-null  int64
 24  Q24            14127 non-null  int64
 25  Q25            14127 non-null  int64
 26  Q26            14127 non-null  int64
 27  country        14127 non-null  int64
 28  introelapse    14127 non-null  int64
 29  testelapse     14127 non-null  int64
 30  surveyelapse   14127 non-null  int64
 31  TIPI1          14127 non-null  int64
 32  TIPI2          14127 non-null  int64
 33  TIPI3          14127 non-null  int64
 34  TIPI4          14127 non-null  int64
 35  TIPI5          14127 non-null  int64
 36  TIPI6          14127 non-null  int64
 37  TIPI7          14127 non-null  int64
 38  TIPI8          14127 non-null  int64
 39  TIPI9          14127 non-null  int64
 40  TIPI10         14127 non-null  int64
 41  VCL1           14127 non-null  int64
 42  VCL2           14127 non-null  int64
 43  VCL3           14127 non-null  int64
 44  VCL4           14127 non-null  int64
 45  VCL5           14127 non-null  int64
 46  VCL6           14127 non-null  int64
 47  VCL7           14127 non-null  int64
 48  VCL8           14127 non-null  int64
 49  VCL9           14127 non-null  int64
 50  VCL10          14127 non-null  int64
 51  VCL11          14127 non-null  int64
 52  VCL12          14127 non-null  int64
 53  VCL13          14127 non-null  int64
 54  VCL14          14127 non-null  int64
 55  VCL15          14127 non-null  int64
 56  VCL16          14127 non-null  int64
 57  education      14127 non-null  int64
 58  urban          14127 non-null  int64
 59  gender         14127 non-null  int64
 60  engnat         14127 non-null  int64
 61  age            14127 non-null  int64
 62  screenw        14127 non-null  int64
 63  screenh        14127 non-null  int64
 64  hand           14127 non-null  int64
 65  religion       14127 non-null  int64
 66  orientation    14127 non-null  int64
 67  voted          14127 non-null  int64
 68  married        14127 non-null  int64
 69  familysize     14127 non-null  int64
 70  major          14127 non-null  float64
 71  race_arab      14127 non-null  int64
 72  race_asian     14127 non-null  int64
 73  race_black     14127 non-null  int64
 74  race_white     14127 non-null  int64
 75  race_hispanic  14127 non-null  int64
 76  race_nativeam  14127 non-null  int64
 77  race_nativeau  14127 non-null  int64
 78  race_other     14127 non-null  int64
 79  ASD            14127 non-null  int64
dtypes: float64(1), int64(79)
memory usage: 8.6 MB

In [ ]:
train.columns

Index(['index', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10',
       'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20',
       'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'country', 'introelapse',
       'testelapse', 'surveyelapse', 'TIPI1', 'TIPI2', 'TIPI3', 'TIPI4',
       'TIPI5', 'TIPI6', 'TIPI7', 'TIPI8', 'TIPI9', 'TIPI10', 'VCL1', 'VCL2',
       'VCL3', 'VCL4', 'VCL5', 'VCL6', 'VCL7', 'VCL8', 'VCL9', 'VCL10',
       'VCL11', 'VCL12', 'VCL13', 'VCL14', 'VCL15', 'VCL16', 'education',
       'urban', 'gender', 'engnat', 'age', 'screenw', 'screenh', 'hand',
       'religion', 'orientation', 'voted', 'married', 'familysize', 'major',
       'race_arab', 'race_asian', 'race_black', 'race_white', 'race_hispanic',
       'race_nativeam', 'race_nativeau', 'race_other', 'ASD', 'nerdiness'],
      dtype='object')

In [ ]:
x_train = train.loc[:, 'Q1':'ASD']
y_train = train['nerdiness']

x_test = test.loc[:, 'Q1':'ASD']

In [ ]:
x_train.head()

   Q1  Q2  Q3  Q4  ...  race_nativeam  race_nativeau  race_other  ASD
0   4   2   4   1  ...              0              0           0    2
1   5   5   4   5  ...              0              0           0    2
2   3   3   4   4  ...              0              1           0    2
3   4   5   3   5  ...              0              0           0    2
4   3   5   4   3  ...              0              0           0    2

[5 rows x 79 columns]

In [ ]:
y_train.head()

0    0
1    1
2    1
3    1
4    0
Name: nerdiness, dtype: int64

In [ ]:
x_test.head()

   Q1  Q2  Q3  Q4  ...  race_nativeam  race_nativeau  race_other  ASD
0   4   5   5   4  ...              0              0           0    2
1   5   5   4   4  ...              0              0           0    2
2   4   5   4   5  ...              0              0           0    2
3   5   5   5   5  ...              0              0           0    2
4   3   4   4   5  ...              0              0           0    2

[5 rows x 79 columns]

In [ ]:
import lightgbm as lgb

In [ ]:
lgb_model = lgb.LGBMClassifier(n_jobs=-1, random_state=42)

In [ ]:
lgb_model.fit(x_train, y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=42, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [ ]:
pred = lgb_model.predict_proba(x_test)[:,1]

In [ ]:
submission['nerdiness'] = pred

In [ ]:
submission

       index  nerdiness
0          0   0.462114
1          1   0.783871
2          2   0.850425
3          3   0.453636
4          4   0.294714
...      ...        ...
14122  14122   0.866713
14123  14123   0.427260
14124  14124   0.646981
14125  14125   0.815372
14126  14126   0.167250

[14127 rows x 2 columns]

In [ ]:
submission.to_csv('/content/drive/My Drive/데이콘/open_data/submission.csv', index=False)